{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Your groups</h1>
<ul class="list-group list-group-flush" id="groups">
  {% for group in user.groups %}
  <li class="list-group-item">
    <a href="group-view-{{ group.id }}" class="badge badge-primary">{{ group.name }}</a>
    <button type="button" class="close" onClick="deleteGroup({{ group.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<br></br>
<div class="card">
  <h5 class="card-header">Add new group!</h5>
  <div class="card-body">
  <form method="POST">
    <div class="form-group">
      <label for="group_name_id">Name</label><br>
      <input type="text" id="group_name_id" name="group_name" class="form-control">
      <label for="member_name_id">Add members</label><br>
      <input type="text" id="member_name_id" name="member_name" class="form-control">
      <label for="group_id">Description</label><br>
      <textarea name="group" id="group_id" class="form-control"></textarea><br><br />
      <div align="center">
        <button type="submit" name="submit_button" class="btn btn-primary" value="add_group">Add Group</button>
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}
